@{
    ViewData["Title"] = "Home Page";
}

<div id="homePage" style="vertical-align:middle; text-align:center">
    <br />
    <img src="/images/hellothere2.JPG" alt="Hello There">
    <br />
    <img src="/images/hellothere3.JPG" alt="Hello There Aurebesh">
    <br /> <br />
    <img src="/images/Star-wars-logo.jpg" alt="Star Wars">
</div>
