
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>Shopping Cart</h1>
<br />
<h2>Your Items</h2>
<br />
<div id="items">
    <label>Item Description</label>
</div>
<br />
<!--May need to change button to type submit-->
<!--<input type="button" value="Order Now" />-->
<a asp-action="Order"><input type="button" class="Order" value="Order Now" /></a>

